<div class="content" role="main">
  <mat-card>
    <section>
      <mat-list class="todo-list" role="list">
        <mat-list-item *ngFor="let item of todoList()" role="listitem">{{item}}</mat-list-item>
      </mat-list>
      <div class="button-row">
        <div class="flex-container">
          <div class="button-container">
            <button mat-fab color="warn" aria-label="Example icon button with a plus icon" (click)="addItemToList()">
              <mat-icon>add</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </section>
  </mat-card>
</div>